@mixin icon() {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}
@mixin icon-wide() {
  background-size: 100% auto;
}
.icon-award-solid {
  @include icon();
  background-image: url('/img/logo/award-solid.svg');
}
.icon-beer-solid {
  @include icon();
  margin-left: 16px;
  background-image: url('/img/logo/beer-solid.svg');
}
.icon-bell-reqular {
  @include icon();
  background-image: url('/img/logo/bell-regular.svg');
}
.icon-cloud-download {
  @include icon();
  @include icon-wide();
  background-image: url('/img/logo/cloud-download-alt-solid.svg');
}
.icon-cog-solid {
  @include icon();
  background-image: url('/img/logo/cog-solid.svg');
}
.icon-edit-reqular {
  @include icon();
  @include icon-wide();
  margin-left: 15px;
  background-image: url('/img/logo/edit-regular.svg');
}